@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap");
html {
  font-size: 4.1666666667svw;
  overflow-y: hidden;
}

body {
  position: relative;
  z-index: -200;
  width: 100svw;
  height: 100svh;
  font-size: 1rem;
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: #233F5A;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  opacity: 0.8;
}

rt {
  letter-spacing: -0.3em;
}

.container {
  position: relative;
  width: 1800%;
  height: 100%;
  z-index: -100;
  background-color: #F0EAE0;
  transition: transform 1s ease-in-out;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container .bg {
  position: absolute;
  left: 0;
  z-index: -90;
  width: 100%;
  height: 60%;
}
.container .bg-senro {
  bottom: 0;
  background-image: url(../img/bg-senro.png);
  background-size: cover;
  background-position: bottom center;
  opacity: 0.3;
}
.container .bg-yama1 {
  bottom: 65%;
  background-image: url(../img/bg-yama1.png);
  background-size: 50% 60%;
  background-position: bottom left;
  opacity: 1;
}
.container .bg-yama2 {
  bottom: 65%;
  background-image: url(../img/bg-yama2.png);
  background-size: 50% 50%;
  background-position: bottom left;
  opacity: 1;
}
.container .bg-yama3 {
  bottom: 65%;
  background-image: url(../img/bg-yama3.png);
  background-size: 50% 40%;
  background-position: bottom left;
  opacity: 1;
}
.container .bg-tree {
  bottom: 61%;
  background-image: url(../img/bg-tree.png);
  background-size: 80% 60%;
  background-position: bottom left;
  opacity: 1;
}

.top {
  position: relative;
  width: 100svw;
  padding-top: calc((100svh - 500px) / 4);
  padding-bottom: calc((100svh - 500px) / 5);
}
.top h1, .top h2 {
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
}
.top h1 {
  font-size: 2rem;
  letter-spacing: 0.05em;
}
.top h2 {
  font-size: 1.2rem;
  margin-top: 1.8svh;
}
.top .fstday, .top .sndday {
  position: relative;
  display: inline-block;
  width: 4rem;
}
.top .fstday::after, .top .sndday::after {
  position: absolute;
  top: -0.8svh;
  right: 0;
  font-size: 0.4em;
  transform: rotate(3deg);
}
.top .fstday::after {
  content: "FRI";
}
.top .sndday::after {
  content: "SAT";
}
.top .schedule {
  margin: calc((100svh - 500px) / 4) auto 0;
  width: 100%;
}
.top .schedule h3 {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #D4BC4B;
  margin: 2svh auto 4svh;
  padding: 0.5svh 2rem;
  font-size: 1.3rem;
  color: #F0EAE0;
}
.top .schedule .scedulebox {
  display: flex;
  justify-content: space-evenly;
  gap: 1.2rem;
  margin-left: 2rem;
}
.top .schedule .scedulebox ul {
  list-style: none;
  width: 10rem;
}
.top .schedule .scedulebox ul i {
  margin-right: 0.4em;
}
.top .schedule .scedulebox ul .longitem {
  letter-spacing: -0.28em;
  font-size: 0.9em;
}
.top .schedule .scedulebox ul .planitem {
  cursor: pointer;
}
.top .schedule .scedulebox ul .planitem:has(.fa-mountain-city) {
  font-size: 1.1em;
  border: 3px solid;
  border-radius: 12px;
  padding: 0.8svh 0.6em 0.2svh;
  transform: translateX(-1em);
}
.top .schedule .scedulebox ul .plantran {
  cursor: pointer;
  margin: 0.1svh 0;
  text-indent: 0.8em;
  font-size: 0.8em;
}
.top .schedule .scedulebox ul .plantran:has(.fa-train-subway) {
  margin: 0.8svh 0 1svh;
}

.navarrow {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100svw;
  padding: 2svh 3rem;
  transition: transform 0.6s;
}
.navarrow button {
  font-size: 0.8rem;
  color: #233F5A;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100svw;
  height: 100svh;
  padding: 6svh 0 3svh;
}
.page h1 {
  text-align: center;
  font-size: 1.8rem;
}
.page h1 i {
  margin-left: 0.4em;
  transform: translateY(-0.1em);
}
.page figure {
  width: 36svh;
  height: 36svh;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
}
.page figure img {
  width: 36svh;
  height: 36svh;
  -o-object-fit: cover;
     object-fit: cover;
}
.page .figureGreen {
  border: 7px solid #7ABF4A;
}
.page .figureBlue {
  border: 7px solid #2AB0D3;
}
.page .figureYellow {
  border: 7px solid #D4BC4B;
}
.page dl {
  margin: 1svh auto;
}
.page dl dt {
  font-weight: bold;
  margin-bottom: 0.4svh;
}
.page .arrivalTimeDl {
  width: -moz-fit-content;
  width: fit-content;
}
.page .arrivalTimeDl .wrapper {
  display: flex;
  gap: 1.2rem;
}
.page .arrivalTimeDl .wrapper dt {
  font-size: 1.2rem;
  text-align: center;
  transform: translateY(0.6em);
  margin: 0;
}
.page .arrivalTimeDl .wrapper dd {
  text-align: center;
}
.page .arrivalTimeDl .wrapper dd span {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.3rem;
}
.page .arrivalTimeDl .wrapper dd span::after {
  content: "";
  position: absolute;
  bottom: 0.42rem;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 40%;
  background-color: #E5871D;
  border-radius: 0.1rem;
}
.page .arrivalTimeDl p {
  text-align: center;
  font-size: 0.8rem;
}
.page .arrivalTimeDl p .nowSecond, .page .arrivalTimeDl p .nowMinute {
  display: inline-block;
  width: 1em;
}
.page .toDoDl {
  padding: 0 2rem;
  margin-left: 0.4rem;
}
.page .toDoDl dt {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #233F5A;
  color: #F0EAE0;
  padding: 0.3svh 0.4rem;
}
.page .toDoDl dd {
  margin-left: 1em;
}
.page .noteDl {
  padding: 0 2rem;
  margin-left: 0.4rem;
}
.page .noteDl dt {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #233F5A;
  color: #F0EAE0;
  padding: 0.3svh 0.4rem;
}
.page .noteDl dd {
  margin-left: 1em;
}

.transparent {
  opacity: 0;
}

.moveUp3svh {
  transform: translateY(-3svh);
}

.moveUp5svh {
  transform: translateY(-5svh);
}

.moveUp8svh {
  transform: translateY(-8svh);
}

.moveUp10svh {
  transform: translateY(-10svh);
}

.moveUp100svh {
  transform: translateY(-100svh);
}

.bold {
  font-weight: bold;
}

.colorRed {
  color: #E5871D;
}

.colorBlue {
  color: #2AB0D3;
}

.colorGreen {
  color: #7ABF4A;
}

.colorYellow {
  color: #D4BC4B;
}

.sizeUp1 {
  font-size: 1.2em;
}

.sizeUp2 {
  font-size: 1.4em;
}

.sizeUp3 {
  font-size: 1.6em;
}

.sizeUp4 {
  font-size: 1.8em;
}

.sizeUp5 {
  font-size: 2em;
}

.sizeUp6 {
  font-size: 2.2em;
}

.underline {
  text-decoration: underline;
}/*# sourceMappingURL=styles.css.map */